.comics{
  
  max-width: 1200px;
  margin: 0 auto;
  padding:60px 0;
  flex-flow: row wrap;
  display: flex;

  &__items{

    position: relative;
    overflow: hidden;
    flex: initial;
    width: 150px;
    border: 5px solid white;
    transition: border-color 0.2s ease;

    &:hover{
      border-color: black;
    }

    .overlay{
      position: absolute;
      bottom: -100px;
      width: 100%;
      height: 100px;

      background: rgba(0,0,0,0.7);

      &--over{
        bottom: 0px;
        transition: bottom 0.2s ease;
      }
    }
    img{
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }
}
