$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~normalize.css/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

a {
  color: white;
  &:link, &visites, &:hover, &:active{
    color: white
  }
}

p{
  margin: 0;
  padding: 0
}

body{
  background: black;
}

.wrapper{
  padding: 60px 0;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
