.header{
  position: fixed;
  width: 100%;
  background: #1E1E1E;
  height:50px;
  line-height: 50px;
  box-shadow: 0px 1px 5px 0px #1E1E1E;
  &-text{
    padding-left: 10px;
    font-size: 1.3em;
    color: white;
    &--right{
      float: right;
      padding-right: 10px;
    }
  }
}
